<div class="container">
    <form class="form-login" action="">
        <div class="login-wrap">
            This is the landing page for AdminView. <br>
            Choose something on the left.
        </div>
    </form>
</div>
