<div>
    <div class="listBar">
        <div class="listBar-items">
            <button class="listBar-item isActiveListBarItem" data-filter="all">All Beers</button>
            <button class="listBar-item" data-filter="active">Active Beers</button>
            <button class="listBar-item" data-filter="inactive">Inactive Beers</button>
        </div>
        <div class="listBar-action">
            <button class="btn js-beerListView-addBeer">Add Beer</button>
        </div>
    </div>
    <ul class="js-beerListView-items"></ul>
</div>
