<div class="js-userListView">
    <div class="listBar">
        <div class="listBar-items"></div>
        <div class="listBar-action">
            <button class="btn js-userListView-addUser">Add User</button>
        </div>
    </div>
    <ul class="js-userListView-items"></ul>
</div>
