<div id="container" class="js-adminView">
    <div class="admin">
        <div class="admin-sidebar">
            <div class="navBar">
                <div class="navBar-header">
                    <a href="/" class="icon icon_logo" title="beer.nerderylabs.com">
                        <svg class="icon-inner">
                            <use xlink:href="#icon_logo"></use>
                        </svg>
                    </a>
                </div>
                <div class="navBar-items">
                    <a href="#/admin/beer-list/" class="icon icon_beerList" title="Beer List">
                        <svg class="icon-inner">
                            <use xlink:href="#icon_beerList"></use>
                        </svg>
                    </a>
                    <a href="#/admin/user-list/" class="icon icon_userList" title="User List">
                        <svg class="icon-inner">
                            <use xlink:href="#icon_userList"></use>
                        </svg>
                    </a>
                </div>
                <div class="navBar-profile">
                    <a href="#" class="icon icon_logout js-adminView-logout" title="Sign Out">
                        <svg class="icon-inner">
                            <use xlink:href="#icon_logout"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="admin-content">
            <div class="admin-content-hd">
                <h1 class="hdg hdg_1">Beer Admin</h1>
            </div>
            <div class="admin-content-bd">
                <section id="main-content" class="js-adminView-container"></section>
            </div>
        </div>
    </div>
</div>
