<div id="login-page" class="loginBackground">
    <div class="modal">
        <div class="modal-inner modal-inner_md js-modal-content">
            <form action="index.html" class="dialog dialog_login" tabindex="-1" role="alertdialog" aria-labelledby="dialog-hd" aria-describedby="dialog-bd" aria-live="assertive">
                <div class="dialog-hd" id="dialog-hd">
                    Sign in now
                </div>
                <div class="dialog-bd" id="dialog-bd">
                    <input type="email" name="email" class="input input_text" placeholder="Email">
                    <input type="password" name="password" class="input input_text" placeholder="Password">
                    <div class="align align_right">
                        <a data-toggle="modal" href="#" class="text text_link js-forgotPasswordBtn"> Forgot Password?</a>
                    </div>
                </div>
                <div class="dialog-ft">
                    <button class="btn btn_primary mix-btn_block js-signInBtn" href="#" type="submit">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>
