/* ----------------------------------------------------------------------
 hList - horizontal list
---------------------------------------------------------------------- */
.hList {
    display: flex;
}

.hList > * + * {
    margin-left: 20px;
}

.mix-hList_center {
    align-items: center;
}
