.navBar {
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    height: 100vh;
    flex-direction: column;
}

.navBar > * + * {
    margin-top: 10px;
}

.navBar-items {
    flex: 1;
    height: 130px;
}

.navBar-items > * + * {
    margin-top: 10px;
}
