/* ----------------------------------------------------------------------
 split - element spacing util
---------------------------------------------------------------------- */
.split {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
