/* ----------------------------------------------------------------------
 vr - vertical rhythm
---------------------------------------------------------------------- */
$vr-RHYTHM: 5px;

.vr {
    margin-bottom: 5px;
}

@for $i from 2 through 16 {
    .vr_x#{$i} {
        margin-bottom: calc(#{$vr-RHYTHM} * #{$i});
    }
}
