{{#extend "layout"}}

    {{#content "body" mode="append"}}
        <div class="site js-IndexView">
            <div class="site-hd">
                <div class="split">
                    <img src="assets/media/images/logo.png" alt="Nerdery" />
                    <div class="time">
                        <span class="js-IndexView-date"></span> &bullet; <span class="js-IndexView-time"></span>
                    </div>
                </div>
            </div>
            <div class="site-bd">
                <div class="pt-perspective js-SliderComponent">
                </div>
            </div>
        </div>
    {{/content}}

    {{#content "footer" mode="append"}}
    {{/content}}

{{/extend}}
