{{#extend "layout"}}

    {{#content "body" mode="append"}}
        <div class="site js-IndexView">
            <div class="site-bd">
                <div class="pt-perspective js-SliderComponent">
                </div>
            </div>
        </div>
    {{/content}}

    {{#content "footer" mode="append"}}
    {{/content}}

{{/extend}}
